ion-segment {
  width: fit-content;
  margin: 16px;
  background-color: #b4b4b1;
}

ion-label {
  color: black;
}

ion-card {
  opacity: 0.6;
}

ion-row.title {
  height: 55px;
}

ion-col {
  position: relative;
  vertical-align: middle;
  text-align: initial;
}

.schedule h4,
.schedule h5 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 25%;
  margin: 0;
}

h4,
h5 {
  color: #343432;
}
