<ion-content>
  <span class="menu">
    <ion-buttons slot="start">
      <ion-menu-button color="vdr"></ion-menu-button>
    </ion-buttons>
    <h3>Atividades</h3>
  </span>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size-md=5 size-xs=12>
        <div>
          <h4>Domingo</h4>
          <p>
            Escola Bíblica Dominical - <strong>09:00h</strong><br />
            Culto de adoração (manhã) - <strong>10:00h</strong><br />
            Culto de adoração (noite) - <strong>19:00h</strong>
          </p>
          <h4>Quarta-feira</h4>
          <p>Culto de oração e estudo bíblico - <strong>19:30h</strong></p>
          <h4>Sábado</h4>
          <p>Culto de oração (Mulher Cristã em Missão) - <strong>8:00h</strong></p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h4>Venha nos visitar!</h4>
          <p>
            <ion-icon name="location-outline"></ion-icon>
            Rua Cinco, 322, Parque Alvorada, Nova Iguaçu-RJ <br>
            <span>CEP: 26053-170</span>
          </p>
          <div class="responsive">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3681.3189742452864!2d-43.466721984465266!3d-22.679166735491375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99684a9c93454d%3A0x28456a5471c13300!2sPrimeira%20Igreja%20Batista!5e0!3m2!1spt-BR!2sbr!4v1596075130313!5m2!1spt-BR!2sbr"
              width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
              tabindex="0">
            </iframe>
          </div>
        </div>
        <div>
          <h4>Vem de ônibus?</h4>
          <p>
            Terminal Vila Velha: pegar o 650, pedir para descer no posto Veleiros aqui na Praia da Costa (posto muito conhecido). 
            O ponto do posto Veleiros fica na rua de trás do salão, venha para rua da frente sentindo Praia. 
            Estamos ao lado da Cultura Inglesa da Praia da Costa.
            <br><br>
            Terminal do Ibes: pegar o 650, pedir para descer no Ponto da Cultura Inglesa da Praia da Costa, estamos ao lado!
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
