h3.subtitle {
  margin-bottom: 25px;
}

ion-item.form {
  border: 1px solid var(--ion-color-vdr);
}

ion-label {
  margin-top: 11px;
  margin-left: 5px;
 
}

.message-color {
  color: var(--ion-color-vdr);
}

ion-icon {
  color: var(--ion-color-vdr);
}

ion-button {
  width: 70px;
  height: 35px;
  opacity: 0.9;
}

@media (min-width: 1200px) {
  ion-col.redes {
    margin-right: 50px;
    margin-left: 50px;
   
  }
}
