.edit {
    width: 20%;
}

.del {
    width: 25%;
}

ion-item {
    height: 46px;
    margin-left: 5px;
}

.header-row {
    font-weight: bold;
    border-bottom: 2px solid #400101;
}

.data-row {
    font-size: 14px;
    border-bottom: 1px solid #400101;;
}

.navigation {
    text-align: center;
    width: 100%;
}

.navigation ion-button {
    color: #400101;
}

ion-button {
    height: 35px;
    color: #400101;
    
}

ion-checkbox {
    --background-checked: var(--ion-color-vdr, #400101);
    --border-color-checked: var(--ion-color-vdr, #400101);
}