h1 {
  font-weight: bold;
  color: #fff;
}

// ion-content {
//   --background: #574536 url("../../../assets/wallpaper (2).png") no-repeat center
//     center / cover !important;
// }

.bg-image {
  background-image: url("../../../assets/wallpaper (2).png");
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

.content {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 0px;
  text-align: center;
}

ion-card {
  margin: -3px;
  margin-top: 5px;
  width: 100%;
  height: 80px;
  background-color: #574536;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card a {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

span {
  display: flex;
  justify-content: center;
}

span img {
  margin-bottom: 20px;
  filter: contrast(1.8) brightness(1.5) grayscale(1);
}

.menu {
  justify-content: left;
}

.logo {
  margin: 10px;
  width: 90%;
}

