<ion-content>
  <div class="bg-image"></div>
  <div class="container">
    
    <span class="ion-text-center">
      <img src="../../../assets/PIBDOPA branco.png">
    </span>

    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col size=4>
          <ion-card>
            <ion-card-content>
              <a href="/quem-somos">Quem somos </a>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size=4>
          <ion-card>
            <a href="/em-que-cremos">Em que cremos</a>
          </ion-card>
        </ion-col>
        <ion-col size=4>
          <ion-card>
            <a href="/atividades">Atividades</a>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size=4>
          <ion-card>
            <a href="/pregacoes">Pregações</a>
          </ion-card>
        </ion-col>
        <ion-col size=4>
          <ion-card>
            <a href="/galeria">Galeria</a>
          </ion-card>
        </ion-col>
        <ion-col size=4>
          <ion-card>
            <a href="/eventos">Eventos</a>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size=4>
          <ion-card>
            <a href="/oracoes">Motivos de oração</a>
          </ion-card>
        </ion-col>
        <ion-col size=4>
          <ion-card>
            <a href="contato">Contato</a>
          </ion-card>
        </ion-col>
        <ion-col size=4>
          <ion-card>
            <a href="login">Login</a>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>